<!-- Main Stylesheet File -->
  <link href="css/cart_page.css" rel="stylesheet">
<!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="container">
      <div class="intro-text row">
        <div class="col">
          <h2>My <b class="quotes">Cart</b></h2>
        </div>
        
      </div>

    </div>
  </section><!-- #intro -->
    
<!--==========================
Recommended Section
============================-->
<section id="team recom" class="section-bg"  style="padding-top: 70px">
  <div class="container">
      <div class="row restaurant-divide">
        <div class="col">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <h1>First Restaurant</h1>
                <hr>
              </div>
            </div>
            <div class="panel-body py-4">
                  <div class="row menu-divide">
                    <div class="col-2"><img class="img-responsive" src="/img/featured/featured-00001.jpg" style="width:inherit">
                    </div>
                    <div class="col-4">
                      <h4 class="product-name"><strong>Pek Cham Kee</strong></h4>
                      <h4><small>Ga mau cabe ya bang</small></h4>
                    </div>
                    <div class="col-6">
                      <div class="row row align-items-center justify-content-end">
                        <div class="input-group col-8">
                          <input type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" value="1">
                          <div class="input-group-append">
                            <span class="input-group-text">x</span>
                            <span class="input-group-text">$ 323 NTD</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-2">
                        <button type="button" class="btn btn-link btn-xs">
                          <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row menu-divide">
                    <div class="col-2"><img class="img-responsive" src="/img/featured/featured-00001.jpg" style="width:inherit">
                    </div>
                    <div class="col-4">
                      <h4 class="product-name"><strong>Pek Cham Kee</strong></h4>
                      <h4><small>Ga mau cabe ya bang</small></h4>
                    </div>
                    <div class="col-6">
                      <div class="row row align-items-center justify-content-end">
                        <div class="input-group col-8">
                          <input type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" value="1">
                          <div class="input-group-append">
                            <span class="input-group-text">x</span>
                            <span class="input-group-text">$ 323 NTD</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-2">
                        <button type="button" class="btn btn-link btn-xs">
                          <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="panel-footer">
              <hr>
              <div class="row text-center">
                <div class="col-9">
                  <h4 class="text-right">Total <strong>$ 50 NTD</strong></h4>
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-success btn-block">
                    Place Order
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row restaurant-divide">
        <div class="col">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <h1>Second Restaurant</h1>
                <hr>
              </div>
            </div>
            <div class="panel-body py-4">
                  <div class="row menu-divide">
                    <div class="col-2"><img class="img-responsive" src="/img/featured/featured-00002.jpg" style="width:inherit">
                    </div>
                    <div class="col-4">
                      <h4 class="product-name"><strong>Pek Cham Kee</strong></h4>
                      <h4><small>Ga mau cabe ya bang</small></h4>
                    </div>
                    <div class="col-6">
                      <div class="row row align-items-center justify-content-end">
                        <div class="input-group col-8">
                          <input type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" value="1">
                          <div class="input-group-append">
                            <span class="input-group-text">x</span>
                            <span class="input-group-text">$ 323 NTD</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-2">
                        <button type="button" class="btn btn-link btn-xs">
                          <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row menu-divide">
                    <div class="col-2"><img class="img-responsive" src="/img/featured/featured-00001.jpg" style="width:inherit">
                    </div>
                    <div class="col-4">
                      <h4 class="product-name"><strong>Pek Cham Kee</strong></h4>
                      <h4><small>Ga mau cabe ya bang</small></h4>
                    </div>
                    <div class="col-6">
                      <div class="row row align-items-center justify-content-end">
                        <div class="input-group col-8">
                          <input type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" value="1">
                          <div class="input-group-append">
                            <span class="input-group-text">x</span>
                            <span class="input-group-text">$ 323 NTD</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-2">
                        <button type="button" class="btn btn-link btn-xs">
                          <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="panel-footer">
              <hr>
              <div class="row text-center">
                <div class="col-9">
                  <h4 class="text-right">Total <strong>$ 50 NTD</strong></h4>
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-success btn-block">
                    Place Order
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
<br>
</section><!-- #team -->



<script>
   if(<%- JSON.stringify(cart_load) %>){
   let cart_load = <%- JSON.stringify(cart_load) %>;
      console.log(cart_load);
   }
</script>