	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script  
    type="text/javascript" 
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.16/moment-timezone-with-data.min.js"
    ></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/chat.css">

<div class="container-fluid h-100">
<div class="row justify-content-center h-100">
	<div class="col-md-4 col-xl-3 chat"><div class="card cardz mb-sm-3 mb-md-0 contacts_card">
		<div class="card-header cardz-header">
			<div class="input-group">
				<input type="text" placeholder="Search..." name="" class="form-control search">
				<div class="input-group-prepend">
					<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
				</div>
			</div>
		</div>
		<div class="card-body cardz-body contacts_body">
			<ui class="contacts">
			</ui>
		</div>
		<div class="card-footer cardz-footer"></div>
	</div></div>
	<div class="col-md-8 col-xl-6 chat">
		<div class="card cardz">
			<div class="card-header cardz-header msg_head">
				<div class="d-flex bd-highlight">
					<div class="img_cont">
						<img src="" id="resto_thumb" class="rounded-circle user_img">
						<span class="online_icon"></span>
					</div>
					<div class="user_info" id="my_user">
						<span></span>
						<p></p>
						<div style="display:none" id="resto_id"></div>
					</div>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" >
         			 <span id="action_menu_btn"><i class="fas fa-times"></i></span>
       			</button>
				

			</div>
			<div class="card-body cardz-body msg_card_body" id="message_box">
			</div>
			<div class="card-footer cardz-footer">
				<div class="input-group">
					<div class="input-group-append">
						<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
					</div>
					<textarea id="chat_area" class="form-control type_msg" placeholder="Type your message..."></textarea>
					<div class="input-group-append" id="chat_send_button">
						<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!--Chat Sockets -->
<script src="/socket.io/socket.io.js"></script>
<script>
if(<%- JSON.stringify(user) %>){
  let socket = io();
  let user = <%- JSON.stringify(user) %> ;

  $( "#chat_button" ).on( "click", function() {
    socket.emit('load_chat',user)
  });

const fillChatMessage = (data) => {
	$('#my_user span').text(data[0].full_name);  
	$('#my_user p').text(beautifyTimestamp(data[0].timestamp));  
	$('#resto_id').html(data[0].restaurant_id);  
	console.log(data[0]);
	$('#resto_thumb').attr("src","/uploads/"+data[0].picture);
	$('#message_box').html('');  
	for(let i = 0; i < data.length;i++){
		if(data[i].sender_user == 0){
			secondPerson(data[i]);
		}
		else{
			firstPerson(data[i]);
		}
	}
}

  const beautifyTimestamp = (data) => {     
    let now = moment();
    let ms = moment(now).diff(moment(data));
    let d = moment.duration(ms);
    let s = Math.floor(d.asHours()) + moment.utc(ms).format(":mm:ss");

    if(d.hours() > 0){
      return (d.hours() + " hours ago");
    }
    else if(d.minutes() > 0){
      return (d.minutes() + " minutes ago");
    }
    else{
      return (d.seconds() + " seconds ago");
    }
  }

  const secondPerson = (data) =>{
  	$( "#message_box").append('\
  			<div class="d-flex justify-content-start mb-4">\
				<div class="img_cont_msg">\
					<img src="/uploads/'+ data.picture +'">\
				</div>\
				<div class="msg_container">\
					'+ data.messages +'\
					<span class="msg_time">'+beautifyTimestamp(data.timestamp)+'</span>\
				</div>\
			</div>')
  }

  const firstPerson = (data) => {
   $("#message_box").append('\
   			<div class="d-flex justify-content-end mb-4">\
				<div class="msg_container_send">\
					'+data.messages+'\
					<span class="msg_time_send">'+beautifyTimestamp(data.timestamp)+'</span>\
				</div>\
			</div>')
  }

  const fillContact = (data) =>{
  	for(let i = 0; i < data.length;i++){
  	$( ".contacts").append('\
  		<li id='+data[i][0].restaurant_id+' class="trigger">\
			<div class="d-flex bd-highlight">\
				<div class="img_cont">\
					<img src="/uploads/'+data[i][0].picture+'" class="rounded-circle user_img">\
					<span class="online_icon"></span>\
				</div>\
				<div class="user_info">\
					<span>'+data[i][0].full_name+'</span>\
					<p>'+beautifyTimestamp(data[i][0].timestamp)+'</p>\
				</div>\
			</div>\
		</li>\
  		')	
  	}

  	$( ".trigger" ).on( "click", function() {
        console.log(this.id);
        fillChatMessage(data[this.id-1]);
    });
    
  }

  	$( "#chat_send_button" ).on( "click", function() {
        let message = {
        	message : $.trim($("#chat_area").val()),
        	user : user,
        	restaurant_id : $('#resto_id').text()
        };
        socket.emit('send_chat',message);
        $("#chat_area").val("");
    });



  // Whenever the server emits 'new message', update the chat body
  socket.on('fillContact', (data) => {
  	console.log(data);
  	fillContact(data)
    fillChatMessage(data[0]);
  });

  socket.on('new_message',(data) =>{
  	if(data[0].sender_user == 0){
      	secondPerson(data[0]);
      }
      else{
      	firstPerson(data[0]);
      }
  })
}
</script>
