 <!-- Main Stylesheet File -->
  <link href="css/resto.css" rel="stylesheet">

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="container">
      <div class="intro-text row">
        <div class="col">
          <h2>Good Food <b class="quotes">Brings People Together</b></h2>
        </div>
        
      </div>

    </div>
  </section><!-- #intro -->
    
<!--==========================
Recommended Section
============================-->
<section id="team recom" class="section-bg"  style="padding-top: 100px">
  <div class="container">
    <div class="section-header">
      <h3 class="section-title">Featured To-GO</h3>
      <span class="section-divider"></span>
      <!--<p class="section-description"></p>-->
    </div>
    <div class="row wow fadeInUp">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00001.jpg" alt=""></div>
          <h4>Pek Cham Kee</h4>
          <span>Nama Resto</span>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>          
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00002.jpg" alt=""></div>
          <h4>Burger</h4>
          <span>Nama Resto</span>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00003.jpg" alt=""></div>
          <h4>Steak</h4>
          <span>Nama Resto</span>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00004.jpg" alt=""></div>
          <h4>Shao Rou</h4>
          <span>Nama Resto</span>
          <p> <i class="fas fa-star"></i> 3.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>
    </div>

  </div>
</section><!-- #team -->

<!--==========================
Search Section
============================-->
<section id="team" class="section-bg"  style="padding-top: 100px">
  <div class="container">
    <div class="section-header">
      <h3 class="section-title-popular">Popular Restaurants</h3>
      <span class="section-divider-popular"></span>
      <!--<p class="section-description"></p>-->
    </div>
    <div class="row wow fadeInUp">
      <div class="col-lg-3 col-md-6">
        <div class="member"><a href="/resprofile">
          <div class="pic"><img src="img/featured/featured-00001.jpg" alt=""></div>
          <h4>Pek Cham Kee Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>   
        </a>       
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00002.jpg" alt=""></div>
          <h4>Burger Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00003.jpg" alt=""></div>
          <h4>Steak Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00004.jpg" alt=""></div>
          <h4>Shao Rou Resto</h4>
          <p> <i class="fas fa-star"></i> 3.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00001.jpg" alt=""></div>
          <h4>Pek Cham Kee Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>          
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00002.jpg" alt=""></div>
          <h4>Burger Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00003.jpg" alt=""></div>
          <h4>Steak Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00004.jpg" alt=""></div>
          <h4>Shao Rou Resto</h4>
          <p> <i class="fas fa-star"></i> 3.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00001.jpg" alt=""></div>
          <h4>Pek Cham Kee Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>          
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00002.jpg" alt=""></div>
          <h4>Burger Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00003.jpg" alt=""></div>
          <h4>Steak Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00004.jpg" alt=""></div>
          <h4>Shao Rou Resto</h4>
          <p> <i class="fas fa-star"></i> 3.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00001.jpg" alt=""></div>
          <h4>Pek Cham Kee Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>          
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00002.jpg" alt=""></div>
          <h4>Burger Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00003.jpg" alt=""></div>
          <h4>Steak Resto</h4>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="img/featured/featured-00004.jpg" alt=""></div>
          <h4>Shao Rou Resto</h4>
          <p> <i class="fas fa-star"></i> 3.5 / 5</p>
          <span>#categories</span>
        </div>
      </div>
    </div>
  </div>
</section><!-- #team -->
