<style>
  .edit-profile{
   width:100%; 
   border-radius:50%;
   margin-top:5px;
   opacity:100%;
   -webkit-transition: opacity 0.5s ease-out;
   -moz-transition: opacity 0.5s ease-out;
   -o-transition: opacity 0.5s ease-out;
   transition: opacity 0.5s ease-out;
   background-color:white;
  }
  .edit-profile:hover{
   opacity:50%;
   cursor:pointer;
  }
  .no-border {
    overflow-wrap: break-word;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: auto;
    font-weight: 400;
    line-height: 1;
    color: #495057;
  }
  input.form-control {
  width: auto;
  }
  .form-checkbox{
    position: absolute;
    margin-top: 0.15rem;
    margin-left: -2rem;
    padding-bottom: 0.1rem;
  }
  #update-image-change{
   width:100%; 
   margin-top:5px;
   margin-bottom: 30px;
   opacity:100%;
   -webkit-transition: opacity 0.5s ease-out;
   -moz-transition: opacity 0.5s ease-out;
   -o-transition: opacity 0.5s ease-out;
   transition: opacity 0.5s ease-out;
   background-color:white;
  }
  #update-image-change:hover{
   opacity:50%;
   cursor:pointer;
  }
</style>

<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
          <div class="mr-md-3 mr-xl-5 ml-3">
            <h1>Run the Day, or the Day Runs You</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Restaurant Information -->
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h3>Edit Profiles</h3>
          <hr>
          <form action="/admin/profile" method="post" role="form">
            <!-- Restaurant Full Name -->
            <div class="form-group">
              <label for="inlineFormInputName2">Restaurant Full Name</label>
              <input type="text" class="input-group mb-2 mr-sm-2 form-control" id="restaurantFullName" placeholder="Insert Restaurant Name" name="restaurantName">
            </div>

            <div class="form-group">
              <label for="inlineFormInputGroupUsername2">Username</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control" id="restaurantUsername" placeholder="Insert Restaurant Username" name="restaurantUsername">
              </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Login Information -->
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">

          <form action="/admin/api/upload" method="post" enctype="multipart/form-data" id="profile-picture">
            <div class="row">
              <div class="col text-center">
              <label><img src="images/faces/face1.jpg" alt="profile" class="edit-profile" id="upload-image"/></label>
              <input type="file" class="custom-file-input" id="profile_upload" name="avatar" style="display:none">
              <p>Click to Upload a new Avatar</p>
              </div>
                          <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </div>
          </form>
          <form class="forms-sample">
            <hr>
            <div class="form-group row">
              <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
              </div>
            </div>
            <hr>
            <div class="form-group row"   style="color:grey !important">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Change Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="***" readonly>
              </div>
            </div>
            <div class="form-group row"  style="color:grey !important">
              <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re-enter Change Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password" readonly>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Latest Menus</p>
          <div class="table-responsive">      

            <form>
            <table class="table table-hover" style="width:100%" id="latest-menu">
              <thead>
                <tr>
                    <!-- <th><span class="mx-2">Name</span></th>
                    <th><span class="mx-2">Price</span></th>
                    <th>Description</th>
                    <th><span class="mx-2">Ready</span></th>
                    <th><span class="mx-2">Tags</span></th> -->
                    <th>Name</th>
                    <th>restaurant_id</th>
                    <th>price</th>
                    <th>description</th>
                    <th>status</th>
                    <th>tags</th>
                    <th>product_id</th>
                </tr>
              </thead>
            </table>
            <button type="submit" class="btn btn-primary mr-2">Update</button>
            <a class="btn btn-success mr-2" style="color: white; cursor: pointer" data-toggle="modal" data-target="#insertModal">Insert</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Edit Modal -->
  <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100" id="exampleModalLabel">Edit Menu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-2">
          <div class="form">
                <form action="/admin/update" method="post" role="form" enctype="multipart/form-data" >
                  <div class="form-group">
                     <img src="first.jpg" alt="profile" id="update-image-change"/>
                     <input type="file" class="custom-file-input" id="product_picture" name="product_picture" style="display:none">
                  </div>
                  <div class="form-group" style="display: none">
                    <label for="menuID">Menu ID</label>
                    <input type="text" id="menuID" name="menuID">
                  </div>
                  <div class="form-group">
                    <label for="menuName">Menu Name</label>
                    <input type="text" class="form-control" id="menuName" placeholder="Edit Menu Name" name="menuName">
                  </div>
                  <div class="form-group">
                    <label for="menuPrice">Menu Price</label>
                    <input type="number" class="form-control" id="menuPrice" placeholder="Edit Menu Price" name="menuPrice">
                  </div>
                  <div class="form-group">
                    <label for="menuDescription">Menu Description</label>
                    <textarea class="form-control" id="menuDescription" rows="3" name="menuDescription"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="menuDescription">Menu Tags</label>
                    <textarea class="form-control" id="menuTags" rows="3" name="menuTags"></textarea>
                  </div>
                  <div class="form-check text-center">
                    <input type="checkbox" class="form-checkbox" id="menuStatus" name="menuStatus" value="1">
                    <label class="form-check-label" for="menuStatus">Enabled</label>
                  </div>

                  <div class="text-center row">
                    <button class="form-control btn-danger col" title="Cancel Update" type="submit"  formaction="/admin/delete">Delete</button>
                    <button class="form-control btn-success col" title="Send Update" type="submit">Update</button>
                  </div>
                </form>
              </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Insert Modal -->
  <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100">Insert New Menu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-2">
          <div class="form">
                <form action="/admin/insert" method="post" role="form">
                  <div class="form-group">
                    <label for="menuName">Menu Name</label>
                    <input type="text" class="form-control" placeholder="Edit Menu Name" name="menuName">
                  </div>
                  <div class="form-group">
                    <label for="menuPrice">Menu Price</label>
                    <input type="number" class="form-control" placeholder="Edit Menu Price" name="menuPrice">
                  </div>
                  <div class="form-group">
                    <label for="menuDescription">Menu Description</label>
                    <textarea class="form-control" rows="3" name="menuDescription"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="menuDescription">Menu Tags</label>
                    <textarea class="form-control" rows="3" name="menuTags"></textarea>
                  </div>
                  <div class="form-check text-center">
                    <input type="checkbox" class="form-checkbox" name="menuStatus" value="1">
                    <label class="form-check-label" for="menuStatus">Enabled</label>
                  </div>

                  <div class="text-center row">
                    <button class="form-control btn-danger col" title="Cancel Update" type="button"  data-dismiss="modal" aria-label="Close" >Cancel</button>
                    <button class="form-control btn-success col" title="Send Update" type="submit">Insert</button>
                  </div>
                </form>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank">Tiger Express</a>. All rights reserved.</span>
  </div>
</footer>
<!-- partial -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.js"
    ></script>
    <!--datatables script-->
    <script>
        let latest_menu = $('#latest-menu').DataTable({
          scrollY: 400,
          processing: true,
          serverSide: true,
          ajax: "/admin/api/products",
          buttons: [
            {
                text: 'My button',
                action: function ( e, dt, node, config ) {
                    alert( 'Button activated' );
                }
            }
         ],
          "createdRow": function( row, data, dataIndex ) {
            for(var a = 0; a <= dataIndex ; a++){
              $(row).attr('id', 'menu'+ a);
              $(row).attr('data-toggle', 'modal');
              $(row).attr('data-id', a);
              $(row).attr('data-target', '#orderModal');
            }
          },
          columnDefs: [
            {
              targets: 2,
              render: $.fn.dataTable.render.number( ',', '.', 0, '$ ' )
            },
            {
              targets: 4,
              render: function ( data, type, full, meta ) {
                if (data == 1){
                 return 'Enabled';
               }else{
                return 'Disabled';
               }
              }
            },
            {
                "targets": [ 1 , 6 , 7],
                "visible": false,
                "searchable": false
            }
          ],
          "language": {
            "lengthMenu": 'Display <select class="form-control">'+
            '<option value="10">10</option>'+
            '<option value="20">20</option>'+
            '<option value="30">30</option>'+
            '<option value="40">40</option>'+
            '<option value="50">50</option>'+
            '</select> records'
          }

        });

        $('#latest-menu tbody').on('click', 'tr', function () {
          var data = latest_menu.row( this ).data();
          $("#orderModal").modal("show"); 
          $("#menuName").attr('value', data[0]);
          $("#menuPrice").attr('value', data[2]);
          $("#menuDescription").html(data[3]);
          $("#menuID").attr('value', data[6]);
          console.log("restaurant_id :"+data[1]+"\nproduct_id: "+data[6]);
          if(data[4] == 1){
          $("#menuStatus").prop("checked", true);
          }else{
          $("#menuStatus").prop("checked", false);
          }
          $("#menuTags").html(data[5]);
          $("#update-image-change").attr("src","uploads/"+data[7]);
        } );

          $("#update-image-change").on("click", function(){
            $('#product_picture').trigger("click");
          })

          function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function(e) {
                $('#update-image-change').attr('src', e.target.result);
              }

              reader.readAsDataURL(input.files[0]);
            }
          }

          $("#product_picture").change(function() {
            readURL(this);
          });
    </script>
    <!--forms script-->
    <script>
      if(<%- JSON.stringify(user) %>){
        var user = <%- JSON.stringify(user) %> ;
        console.log(user);
        $('#restaurantFullName').attr('value',user.full_name);
        $('#restaurantUsername').attr('value',user.username);
      }
    </script>
    <script>
      $("#upload-image").on("click", function() {
        $("#profile_upload").trigger("click");
      });
      $("#profile_upload").change(function() {
        $("#profile-picture").submit();
      });

    </script>